.nav {
  display: flex;
  gap: 4px;
  box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.56);
  -webkit-box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 0px 7px 5px 0px rgba(0, 0, 0, 0.56);
  margin-bottom: 10px;
}

.link {
  padding: 20px;
  color: black;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.active {
  color: red;
}
